@model LoginViewModel

@{
    ViewData["Title"] = "User Login";
}

<head>
    <!-- Vendor CSS Files -->
    <link href="~/profile/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/profile/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/profile/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/profile/assets/css/about.css" rel="stylesheet">



</head>


<section id="about" class="about-mf sect-pt4 route" style="background-color: #9BA4B4;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">

                        <div class="row">
                            <div class="row">
                                <div class="col-md-6">

                                    <section>
                                        <form id="account" method="post">
                                            <h1>@ViewData["Title"]</h1>
                                            <img src="~/assets/img/icons8-add-user-group-woman-man-64.png" style="float:right" />
                                            <br />
                                            <hr />
                                            <br />
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="Email"></label>
                                                <input asp-for="Email" class="form-control" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Password"></label>
                                                <input asp-for="Password" class="form-control" />
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label asp-for="RememberMe">
                                                        <input asp-for="RememberMe" />
                                                        @Html.DisplayNameFor(m => m.RememberMe)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary">Login</button>
                                            </div>
                                            <div class="form-group">
                                                <p>
                                                    @*<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>*@
                                                </p>
                                                <p>
                                                    @*<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>*@
                                                </p>
                                                <p>
                                                    <button type="submit" asp-page-handler="SendVerificationEmail" class="btn-link" style="padding:0px;margin:0px;border:0px">Resend email confirmation</button>
                                                </p>
                                            </div>
                                        </form>
                                    </section>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</section>}<!-- End About Section -->
