 <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container" data-aos="fade-in">
        <h1>Welcome to Social Networks & Recommendatio System Research Group </h1>
        <h2>We are an academic researches group in the department of information networks.</h2>
        <!-- <div class="d-flex align-items-center">
          <i class="bx bxs-right-arrow-alt get-started-icon"></i>
          <a href="#services" class="btn-get-started scrollto">Get Started</a>
        </div> -->
    </div>
</section><!-- End Hero -->


<main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="row">
                <div class="col-xl-4 col-lg-5" data-aos="fade-up">
                    <div class="content">
                        <h3>What is the benefit of the site and what is Social Networks & Recommendation System ?</h3>
                        <p>
                            The benefit of the site and its objectives is to publish the research of students
                            and graduates from the University of Babylon, Faculty of Information Technology,
                            in the field of Social Networks & Recommendatio System, and the latest findings in their research career.
                        </p>
                        <div class="text-center">
                            <a href="#about" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 d-flex">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-receipt"></i>
                                    <h4>social networks </h4>
                                    <p>A set of social actors (such as people or organizations), sets of dyadic links, and other social interactions between actors make form a social network.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4>SN & Recsys</h4>
                                    <p>The integration of recommender system with social networks produces a new system termed as social recommender system.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-images"></i>
                                    <h4>recommender system</h4>
                                    <p>is a type of information filtering system that aims to anticipate the "rating" or "preferred" a user would assign to a certain item.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg" style="background-color: #9BA4B4;">
        <div class="container">

            <div class="row">
                <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
                    <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a> -->
                </div>

                <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <h4 data-aos="fade-up">About us</h4>
                    <h3 data-aos="fade-up">Social Networks & Recommendatio System</h3>
                    <p data-aos="fade-up">SN & Recsys is an academic researches group in the department of information networks. The Group was founded in 2022 by prof.  Huda Naji and there are currently 8 academics working on it,  along with masters and doctoral students.</p>

                    <div class="icon-box" data-aos="fade-up">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a href="">The main research problems</a></h4>
                        <p class="description">Information diffusion, Information maximization, Context-aware recommender system, Information maximization using evolutionary algorithms, Social recommendation systems, and Reputation systems.</p>
                    </div>


                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-atom"></i></div>
                        <h4 class="title"><a href="">Our goals</a></h4>
                        <p class="description">
                            The group seeks to communicate with all researchers working in this area worldwide.
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials" style="background-color:aliceblue">
        <div class="section-title">
            <h2 data-aos="fade-up">Current trends</h2>
            <p data-aos="fade-up">
                @*text*@
            </p>
        </div>
        <div class="container position-relative" data-aos="fade-up">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/assets/img/testimonials/social_media_3.jpg" class="testimonial-img" alt="">
                            <!--<h3>Sara Wilsson</h3>-->
                            <!-- <h4>Designer</h4>-->             <p>
                                <br />
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Social Networks
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/assets/img/testimonials/shutterstock_2074225187.jpg" class="testimonial-img" alt="">
                            <!--<h3>Sara Wilsson</h3>-->
                            <!-- <h4>Designer</h4>-->             <p>
                                <br />
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Metaverse
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/assets/img/testimonials/iStock-13297517852.jpg" class="testimonial-img" alt="">
                            <!--<h3>Sara Wilsson</h3>-->
                            <!-- <h4>Designer</h4>-->             <p>
                                <br />
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Metaverse                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/assets/img/testimonials/money-secret2.jpg" class="testimonial-img" alt="">
                            <!--<h3>Jena Karlis</h3>
                        -->
                            <!-- <h4>Store Owner</h4>
                        -->
                            <p>
                                <br />
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Rumor
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/assets/img/testimonials/digital-storefronts-blog.jpg" class="testimonial-img" alt="">
                            <!--<h3>Matt Brandon</h3>-->
                            <!-- <h4>Freelancer</h4>-->
                            <p>
                                <br />
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Recommendatio System
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->
                    <!--<div class="swiper-slide">
                <div class="testimonial-item">
                    <img src="~/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">-->
                    <!--<h3>John Larson</h3>
                -->
                    <!-- <h4>Entrepreneur</h4>-->
                    <!--<p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>-->
                    <!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->
   
    <!-- ======= Values Section ======= -->
    <!-- Research -->
    <section id="values" class="values" style="background-color: #9BA4B4;">
        <div class="container">
            <div class="section-title" style="margin-bottom:2px">
                <h2 data-aos="fade-up" style="text-align:">Latest research</h2>
            </div>

            <div class="row" style="margin-top: 3px;">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card" style="background-color: #9BA4B4">
                        <img src="~/assets/img/fore/Picture3.jpg"  style="margin-top:2px;"/><br />
                        <div class="card-body">
                            <h5 class="card-title"><a href="https://kijoms.uokerbala.edu.iq/cgi/viewcontent.cgi?article=2891&context=home">Influence Maximization based on a Non-dominated Sorting Genetic Algorithm</a></h5><br />
                            <p class="card-text">Experimental results for the benchmark Digg network. The NSGAeIIeIM in this experiment 100 generation was seeded with the results of the NSGA-II and three heuristic algorithm.</p>
                            <div class="read-more"><a href="https://kijoms.uokerbala.edu.iq/cgi/viewcontent.cgi?article=2891&context=home"><i class="bi bi-arrow-right"></i> Read More</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100" style="margin-top: 3px;">
                    <div class="card" style="background-color: #9BA4B4; ">
                        <img src="~/assets/img/fore/اول بحث لدكتورة هدى (2).png" /><br />
                        <div class="card-body">
                            <h5 class="card-title"><a href="https://www.researchgate.net/publication/312191313_Influential_Nodes_Based_Alleviation_of_User_Cold-Start_Problem_in_Recommendation_System">Influential Nodes Based Alleviation of User Cold-Start Problem in Recommendation System</a></h5><br />
                             <p class="card-text">The Cold-start problem considered as one of the most common limitations of recommender systems, which indicates to situation when a new user or items lastly combined to the system</p>
                            <div class="read-more"><a href="https://www.researchgate.net/publication/312191313_Influential_Nodes_Based_Alleviation_of_User_Cold-Start_Problem_in_Recommendation_System"><i class="bi bi-arrow-right"></i> Read More</a></div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="card" style=" background-color: #9BA4B4">
                        <img src="~/assets/img/fore/pexels-pixabay-267350.jpg" /><br />
                        <div class="card-body">
                            <h5 class="card-title"><a href="https://medwelljournals.com/abstract/?doi=sscience.2016.4320.4322">User Profile Enrichment with Correlative Item Contents and User Context</a></h5><br />
                            <p class="card-text">Mostly, the personalized services meet the satisfaction of users with the same services under the same context. However, although these services have the same context may be different according to needs of users.</p>
                            <div class="read-more"><a href="https://medwelljournals.com/abstract/?doi=sscience.2016.4320.4322"><i class="bi bi-arrow-right"></i> Read More</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="card" style="background-color: #9BA4B4">
                        <img src="~/assets/img/fore/values-4.jpg" /><br />
                        <div class="card-body">
                            <h5 class="card-title"><a href="https://www.researchgate.net/publication/349742616_Community_structure-aware_fairness_and_goodness_algorithm_for_link_weight_prediction">Community structure-aware fairness and goodness algorithm for link weight prediction</a></h5><br />
                                                                                                                                                                                                                                                                                                  <p class="card-text">In this research, the problem of predicting the edge weight in the Bitcoin network has been resolved by utilizing the structure of the community based Fairness and Goodness.</p>
                            <div class="read-more"><a href="https://www.researchgate.net/publication/349742616_Community_structure-aware_fairness_and_goodness_algorithm_for_link_weight_prediction"><i class="bi bi-arrow-right"></i> Read More</a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Values Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients" style="background-color: #fff;">
        <div class="container" data-aos="fade-up">
        </div>
    </section><!-- End Clients Section -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg" style="background-color: #9BA4B4;">
        <div class="container">

            <div class="section-title">
                <h2 data-aos="fade-up">Research Group</h2>
                <p data-aos="fade-up">
                    @*text*@
                </p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/assets/img/team/Mohsen.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4><a asp-action="Mohsin" asp-controller="Home">Dr.Mohsin H. Hussein</a></h4>
                            <span>Social recommendation system</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/assets/img/team/Enas3.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4><a asp-action="Enas" asp-controller="Home">Dr.Enas Fadhil Abdullah</a></h4>
                            <span>Context recommender system </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/assets/img/team/mustafa6.png" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4><a asp-action="Mustafa" asp-controller="Home">Dr.Mustafa Kamil Mahdi</a></h4>
                            <span>Information diffusion in social networks</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/assets/img/team/6.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4><a asp-action="Roaa" asp-controller="Home">Asst. Lec.Roaa Sabah Naser</a></h4>
                            <span>Web service recommender system</span>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a asp-action="Index2" asp-controller="Home" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2 data-aos="fade-up">Contact</h2>

            </div>

            <div class="row justify-content-center">

                <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up">
                    <div class="info-box">
                        <i class="bx bx-map"></i>
                        <h3>Our Address</h3>
                        <p>
                            Iraq, Hilla
                            University of Babylon
                        </p>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="info-box">
                        <i class="bx bx-envelope"></i>
                        <h3>Email Us</h3>
                        <p>net@itnet.uobabylon.edu.iq<br><br></p>
                    </div>
                </div>


            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->