@{
    ViewBag.Title = "Not Found";

}

<head>
    <!-- Vendor CSS Files -->
    <link href="~/profile/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/profile/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/profile/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/profile/assets/css/about.css" rel="stylesheet">



</head>

<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <div class="row">

                        <div class="row">
                            <div class="row">
                                <div class="col-md-12">

                                    <section style="text-align:center">
                                        <img src="~/assets/img/NAS9ifO6B6.gif" alt="Description of the image">

                                        <h1>@ViewBag.ErrorMessage</h1>



                                    </section>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</section><!-- End About Section -->
<!-- ======= Clients Section ======= -->
<section id="clients" class="clients" style="background-color: #fff;">
    <div class="container" data-aos="fade-up">
    </div>
</section><!-- End Clients Section -->
<!-- ======= Clients Section ======= -->
<section id="clients" class="clients" style="background-color: #fff;">
    <div class="container" data-aos="fade-up">
    </div>
</section><!-- End Clients Section -->